<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI Sketch</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <div class="container">
        <div class="section section-1">Section 1</div>
        <div class="window">
            <div class="back-arrow">
                &#8592;
            </div>
            <div class="section section-11">Section 11</div>
        </div>
        <div class="bottom-bar">
            <div class="section section-2">Section 2</div>
            <button class="dropdown-button">Sect...</button>
        </div>
    </div>
</body>
</html>
